{% extends 'components/base.html' %}
{% block title %}
    Регистрация нового пользователя
{% endblock %}
{% block content %}
    <h2>Регистрация</h2>
    <div class="form-errors">
        {{ form.non_field_errors }}
    </div>
    <div class="form">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-label">
                    {{ field.label }}
                </div>
                <div class="form-field">
                    {{ field }}
                </div>
                <div class="form-errors">
                    {{ field.errors }}
                </div>
                {% if field.help_text %}
                    <div class="form-hints">
                        {{ field.help_text }}
                    </div>
                {% endif %}
            {% endfor %}

            <button class="action-btn" type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}